.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}
.days-tabs{
    box-sizing: border-box;
  min-width: 165px;
  border: 1px #e8e8e8 solid;
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 15px;
  margin-top: 30px;
  font-family: "Roboto";
  font-size: 16px;
  padding: 22px 35px 22px 0;
  cursor: pointer;
}
.days-tabs li{
  display: block;
  padding: 12px 0px;
}
.days-tabs li + li{
  border-top: 1px solid rgb(232, 232, 232);
}
.days-tabs li span.mob{
  display: none;
}
.days-tabs li.active {
  font-family: "Roboto Bold", sans-serif;
  padding-left: 18px;
  position: relative;
}
.days-tabs li.active:after {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background-color: rgb(138, 199, 30);
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 50%;
}
.sect4 .slick-slider .slick-track{
  width: 1625px!important;
}
.sect4 .food-of-the-day__slide.slick-slide{
  width: 293px!important;
    margin: 30px 15px 34px;

}
.sect4 .food-of-the-day__slide.slick-slide:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
}
.sect4 .food-of-the-day{
    margin-left: 15px;
    padding-left: 0;
}
@media (max-width: 1200px) {
    .sect4 .slick-slider .slick-track{
        width: 1275px!important;
    }
    .sect4 .food-of-the-day__slide.slick-slide {
        width: 223px!important;
    }
    .days-tabs{
        padding: 18px 35px 18px 0px;
    }
    .days-tabs li{
        padding: 8px 0px;
    }
    .sect4 .food-of-the-day{
        margin-left: 0;
        padding-left: 30px;
    }
    .sect4 .food-of-the-day__slide.slick-slide{
        margin: 30px 0 34px;
    }
    .sect4 .food-of-the-day__slide + .food-of-the-day__slide {
        margin-left: 30px; }
    .sect4 .food-of-the-day__slide.slick-slide:hover{
        box-shadow: none;
    }
}
@media (max-width: 1000px) {
    .sect4 .slick-slider .slick-track{
        width: 1365px!important;
    }
    .sect4 .food-of-the-day__slide.slick-slide {
        width: 241px!important;
    }
}
@media (max-width: 767px) {
    .days-tabs {
        border: none;
        border-radius: 25px;
        width: 100%;
        padding: 0;
        text-align: center; }
    .days-tabs{
        margin-left: 0;
        display: flex;
        justify-content: space-between;
    }
    .days-tabs li{
        display: inline-block;
        padding: 10px 10px;
    }
    .days-tabs li span.desctop{
        display: none;
    }
    .days-tabs li span.mob{
        display: block;
    }
    .days-tabs li + li{
        border-top: none;
    }
    .days-tabs li.active{
        padding-left: 10px;
        position: relative;
    }
    .days-tabs li.active:before {
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 40px;
        height: 40px;
        background: none;
        border-radius: 50%;
        border: 1px #8ac71e solid;
        outline: none;
        cursor: pointer; }
    button.my-slick-prev:hover,
    button.my-slick-next:hover {
        border: 1px #8ac71e solid;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    button.my-slick-prev:hover .icon-arrow-l,
    button.my-slick-prev:hover .icon-arrow-r,
    button.my-slick-next:hover .icon-arrow-l,
    button.my-slick-next:hover .icon-arrow-r {
        fill: #8ac71e; }
    .days-tabs li.active:after{
        display: none;
    }
    .sect4 .slick-slider .slick-track{
        width: 1550px!important;
    }
    .sect4 .food-of-the-day__slide.slick-slide {
        width: 293px!important;
    }
    .sect4 .food-of-the-day__slide + .food-of-the-day__slide {
        margin-left: 15px;
    }
    .sect4 .food-of-the-day {
        padding-left: 0px;
    }
}
@media (max-width: 640px) {
    .sect4 .slick-slider .slick-track{
        width: 2300px!important;
    }
    .sect4 .food-of-the-day__slide.slick-slide {
        width: 458px!important;
    }
    .sect4 .food-of-the-day__slide + .food-of-the-day__slide {
        margin-left: 0px;
    }
}
@media (max-width: 479px) {
    .sect4 .slick-slider .slick-track{
        width: 1800px;important;
    }
    .sect4 .food-of-the-day__slide.slick-slide {
        width: 358px!important;
    }
}
@media (max-width: 380px) {
    .sect4 .slick-slider .slick-track{
        width: 1600px;important;
    }
    .sect4 .food-of-the-day__slide.slick-slide {
        width: 318px!important;
    }
}
